<ion-view>
		
	<!--cabecera-->
	<div class="bar bar-header" id="cabecera_perfil" style="padding:0px !important;">
  			<div class="button-bar">
  				<a class="button" style="padding-top:5px;background-color:#204462; border:none; color:white;font-size:18px ; font-weight:bold;">Login</a>
  				<a class="button" href="#register" style="padding-top:5px;background-color:transparent; border:none;color:white;font-size:18px ; font-weight:bold;" >Register</a>
			</div>
	</div>

	<!-- abriendo el contenido-->
	<ion-content style="margin-top:43px;" id="contenido_login" padding="true">

			<!--logotipo aca-->
			<div class="row">
  				<div class="col"><center><h3 style="color:white; font-weight:bold; font-size:30px;text-shadow:1px 1px #3A636F;">Aula2<span style="color:#DCF1F7;">Code</span></h3></center></div>
			</div>

			<!--entrada de datos-->
			<div class="list list-inset" style="background-color:transparent;">
  				<label class="item item-input" style="border-radius:10px; border:1px solid #36798C; box-shadow:1px 1px 2px #36798C inset;">
    				<input type="text" placeholder="Usuario">
  				</label>
  				<label class="item item-input" style="margin-top:10px; border-radius:10px; border:1px solid #36798C;  
  				box-shadow:1px 1px 2px #36798C inset;">
    				<input type="password" placeholder="Contraseña">
  				</label>
  			
  			<div style="margin-top:20px;  padding-left:5px;">
  				<label>
  					<input type="checkbox">
  					<span style="color:white; font-weight:bold; font-size:16px; text-shadow:1px 1px #3A636F; ">Recordar mis datos</span>
  				</label>
  			</div>
			
			</div>
			<!--cierre de el formulario-->
			<button class="button button-block button-stable" style="color:#3E538B; font-weight:bold; border-radius:10px; border:1px solid #ADB3B3;">
				 Login
			</button>



	</ion-content>
</ion-view>