<ion-view>

    <!-- abriendo el contenido-->
    <ion-content padding="true" class="fondoDePaisaje">

        <!--logo-->
        <div id="logo" style="text-align:center;">
            <img src="img/logo_pusle.png" alt="Puzzle Land"
                 width="300rem">

            <div id="botones_comienzo">
                <a href="#/dashboard" class="opcion_menu">
                    <span style="color:#ED008C;">J</span><span style="color:#EB5731;">u</span><span style="color:#24AAE1;">g</span><span style="color:#35B548;">a</span><span style="color:#ED008C;">r</span>
                </a>
                <br>
                <br>
                <a href="" class="opcion_menu">
                    <span style="color:#24A8E1;">S</span><span style="color:#8E288D;">c</span><span style="color:#39B44A">o</span><span style="color:#F15A28;">r</span><span style="color:#ED008C;">e</span>
                </a>
            </div>
        </div>

    </ion-content>

    <!--pie de pagina-->
    <div class="bar bar-footer" style="background-color:transparent; left: 3rem">
        <div>Derechos Reservados</div>
    </div


</ion-view>