
<ion-view>
		
	<!--cabecera-->
	<div class="bar bar-header" id="cabecera_perfil">
  		<h1 class="title">Curso de Ruby</h1>

  		<div style="position:absolute; right:0; margin-right:20px; margin-top:2px;">
        	<a href="" class="ion-navicon-round" style="font-size:30px; color:white;"></a>
      	</div>
	</div>


	<!--subcabecera-->
	<div class="bar bar-subheader" style="background-color:transparent; border:none;" padding="true">	
  		

		<!--primera seccion-->
		<ion-item style="padding:0px !important;"> 
			<div class="row">
  				<div class="col">
  					<img style="width:80px; height:80px;" src="http://deprogramacionyotrosdemonios.files.wordpress.com/2010/10/ruby-logo-512.png">
  				</div>
  				
  				<div class="col" style="text-align:center;">
  					<p class="ion-clipboard" style="font-size:20px;"></p>
  					<h2 style="color:#171717; font-weight:bold; font-size:20px;">177</h2>
  					<p style="color:#979797;">Tutoriales</p>
  				</div>
  			
  				<div class="col" style="text-align:center;">
 					<p class="ion-android-contacts" style="font-size:20px;"></p>
  					<h2 style="color:#171717; font-weight:bold; font-size:20px;">200</h2>
  					<p style="color:#979797;">Estudiantes</p>
  				</div>
			</div>

			<!--otra columna-->
			<div  style="height:100px !important;border-top:1px solid #C9C9C9; padding:10px;" class="item item-text-wrap">
				<h3 class="nombre_perfil" style="font-size:16px;">Ruby para principiantes</h3>
				<p class="correo_perfil">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo 
</p>
			</div>
		</ion-item>	

		<!--el item de cursos es este-->
		<ion-item style="margin-top:0px; background-color:#63A8BD !important; padding:0px  10px!important; border:none;">
			<div class="row">
				<div class="col"><p class="ion-navicon" style="font-size:30px; color:white;"><span style='font-size:16px; float:right; margin-right:70px; margin-top:5px; color:white;'>Contenido del curso</span></p></div>
			</div>
		</ion-item>


	</div>


	<!-- abriendo el contenido-->
	<ion-content style="margin-top:43px; background-color:#C8CBCA;" padding="true">

		<!--lista de cursos-->
		<ion-item style="padding:0px !important; margin-top:250px;" >
			<div class="list">
    			<a class="item item-avatar" href="#">
    		  	    <img src="http://deprogramacionyotrosdemonios.files.wordpress.com/2010/10/ruby-logo-512.png">
    		    	
      				<h2>Estructuras secuenciales</h2>
      				<p>Back off, man. I'm a scientist.</p>
    			</a>
    			<a class="item item-avatar" href="#">
    		  	    <img src="http://deprogramacionyotrosdemonios.files.wordpress.com/2010/10/ruby-logo-512.png">
      				<h2>Importacion de Gems</h2>
      				<p>Back off, man. I'm a scientist.</p>
    			</a>
    			<a class="item item-avatar" href="#">
    		  	    <img src="http://deprogramacionyotrosdemonios.files.wordpress.com/2010/10/ruby-logo-512.png">
      				<h2>Conexion con Fire Base</h2>
      				<p>Back off, man. I'm a scientist.</p>
    			</a>
    			<a class="item item-avatar" href="#">
    		  	    <img src="http://deprogramacionyotrosdemonios.files.wordpress.com/2010/10/ruby-logo-512.png">
      				<h2>Creacion de servicios</h2>
      				<p>Back off, man. I'm a scientist.</p>
    			</a>
			</div>
		</ion-item>
		<!--cierre  de la lista de cursos-->
	</ion-content>



  <!--pie de pagina-->
<div class="bar bar-footer"   style="padding:0px !important; background-color:transparent;">
      <div class="button-bar" id="botones_footer">
         <a class="button ion-social-rss" style="border-right:1px solid #3B3C41;"></a>
         <a class="button ion-android-friends" style="border-right:1px solid #3B3C41;"></a>
         <a class="button ion-ios7-football" style="font-size:25px; border-right:1px solid #3B3C41;"></a>
         <a class="button  ion-podium" style="border-right:1px solid #3B3C41;"></a>
         <a class="button ion-android-settings" style="font-size:25px;"></a>
      </div>
</div>

</ion-view>