<ion-view>
		
	<!--cabecera-->
	<div class="bar bar-header" id="cabecera_perfil">
  			<h3 class='title' style="color:white; font-size:20px; font-weight:bold;">¿De Donde Eres?</h3>
	</div>

	<!-- abriendo el contenido-->
	<ion-content style="margin-top:43px;" id="contenido_login" padding="true">

			<!--logotipo aca-->
			<div class="row">
  				<div class="col"><center><h3 style="color:white; font-weight:bold; font-size:30px;text-shadow:1px 1px #3A636F;">Aula2<span style="color:#DCF1F7;">Code</span></h3></center></div>
			</div>

			<!--entrada de datos-->
			<div class="list list-inset" style="background-color:transparent;">
  			
				<div style="margin-top:10px;">
    			<select name="sexo" style="width:100%; padding:15px; background-color:white; border-radius:10px; border:1px solid #36798C; box-shadow:1px 1px 2px #36798C inset; color:#DBD1D1;">
    					<option>Pais</option>
    					<option value="">Venezuela</option>
    					<option value="">Argentina</option>
    			</select>
  				</div>

  				<div style="margin-top:10px;">
    			<select name="sexo" style="width:100%; padding:15px; background-color:white; border-radius:10px; border:1px solid #36798C; box-shadow:1px 1px 2px #36798C inset; color:#DBD1D1;">
    					<option>Entidad</option>
    					<option value="">Entidad 1</option>
    					<option value="">Entidad 2</option>
    			</select>
  				</div>


			
			</div>
			<!--cierre de el formulario-->
			<div class="button-bar">
 			 <a class="button" style="color:#3E538B; font-weight:bold; border-radius:10px; border:1px solid #ADB3B3; border-top-right-radius:0px; border-bottom-right-radius:0px;">Omitir</a>
  			 <a class="button icon-right ion-chevron-right button-calm"  style="border-top-right-radius:10px; border-bottom-right-radius:10px; " >Continuar</a>
			</div>



	</ion-content>
</ion-view>