<ion-view>
    <ion-content padding="true" class="fondoDePaisaje">
        <div class="row">
            <h1 class="col">Mejor Tiempo:</h1>
            <h2 class="col">???</h2>
        </div>
        <!--pie de pagina-->
        <div class="mismovimientos">
            <span style="float:left; font-size:16px !important;">Derechos Reservados</span>
            <a href="#/perfil" style="float:right;" id="nuevo">Volver</a>  
            <div style="clear:both;"></div>
        </div>
    </ion-content>
</ion-view>